@keyframes neon {
  0% {
    color: rgb(227, 178, 159);
  }
  15% {
    color: rgb(236, 73, 8);
  }
  20% {
    color: rgb(227, 178, 159);
  }
  25% {
    color: rgb(149, 222, 222);
  }
  40% {
    color: rgb(29, 160, 160);
  }
  45% {
    color: rgb(149, 222, 222);
  }
  50% {
    color: rgb(196, 149, 239);
  }
  65% {
    color: rgb(114, 48, 177);
  }
  70% {
    color: rgb(196, 149, 239);
  }
  75% {
    color: rgb(150, 232, 222);
  }
  90% {
    color: rgb(44, 169, 154);
  }
  95% {
    color: rgb(150, 232, 222);
  }
  100% {
    color: rgb(227, 178, 159);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-image: url('./fundo.png');
  background-size: contain;
  background-position: center;
}


.mainCarta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta {
  margin: 10px;
  width: 385px;
  height: 545px;
  perspective: 1000px;
}

.carta-conteudo {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.carta:hover .carta-conteudo {
  transform: rotateY(180deg);
}

.carta-traseira, .carta-frontal {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backface-visibility: hidden;
}

.carta-traseira {
  background-color: #ffffff;
  background-image: url('./carta.png');
  background-position: center;
  color: #fff;
}

.carta-frontal {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  color: #000;
  flex-direction: column;
  transform: rotateY(180deg);
  z-index: 1;
}

.carta-frontal h1 {
  font-size: 20px;
  text-align: center;
  color: rgb(177, 226, 226);
  animation: neon 10s ease-in-out infinite;
  padding-top: 20px;
  margin-bottom: 10px;
}

.carta-frontal p {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
}

h2{
  display: flex;
  color: #333;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
  
}

.home-body{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  background-image: none;
  padding: 0;
  margin: 0;
}

.home-body footer{
  color: rgb(29, 160, 160);;
}


.home-body nav a{
  text-shadow: none;
}


.home-body header {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: black;
}

.home-body  a {
  color: #ded5d5;
  margin-right: auto;
  text-decoration: none;
}


.home-body h1{
  color: #b4d9f1;
  padding: 2px;
  text-shadow:none;
}



